<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="2">
	<!--parameter name="URL" value="qaclickacademy.com" /-->
	<listeners>
		<listener class-name="test.Listener"/>		
	</listeners>
	<test name="Personal Loan" parallel="classes" thread-count="2">
		<parameter name="URL" value="personalloan.com" />
		<parameter name="APIKey/uname" value="P12345" />
		<classes>
			<class name="test.TestNGD1">
				<methods>
					<exclude name="SecondTest" />
				</methods>
			</class>
			<class name="test.TestNGD2" />
			<class name="test.TestNGD4">
				<methods>
					<include name="LoginHomeapi" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Car Loan">
		<parameter name="URL" value="carloan.com" />
		<classes>
			<class name="test.TestNGD3">
				<methods>
					<include name="MobileSign.*" />
				</methods>
			</class>
		</classes>
	</test>
</suite> 
